{% extends 'ProjectsPersonalWebsiteBundle:admin:home/index.html.twig' %}

{% block body %}
    <div class="container">

        <form class="form-signin" role="form" method="POST" action="{{ path('projects_personal_website_adminhomepage') }}">
            <h2 class="form-signin-heading">Please log in</h2>
            <input type="text" name="name" class="form-control" placeholder="name" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <label class="checkbox">
                <input type="checkbox" name="remember-me" value="1"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>
    </div>
{% endblock %}