<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/admin/displaysection/categories">Categories</a></li>
        <li><a href="/admin/displaysection/content">Content</a></li>
    </ul>
</div>
